<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/assets/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/assets/css/home.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body id="body">
    <div class="container" id="main">
      
      <!-- Menu -->
      <div id="menu" class="row" ></div>

      <section id="navbar" class="row">
        <div class="chip">Agosto</div>
      </section>
      <!-- Menu -->

      <section id="list" class="row">
        <div class="col s12">
          <ul class="collapsible popout" data-collapsible="accordion">        
            <li>
              <div class="collapsible-header">
                <i class="material-icons">add_circle_outline</i>
                <!-- <a class="black-text modal-trigger" href="#createModal">Adicione uma despesa... </a> -->
                <a href="#createModal" class="modal-trigger black-text">Adicione uma despesa... </a>
              </div>
            </li>
          </ul>
        </div>
      </section>      
      
      <div class="progress" id="loadingLabel">
        <div class="indeterminate"></div>
      </div>
      
      <section id="grid" class="row" style="display: none">
        <div class="col s12 m3">
          <div class="card grey lighten-5">
            <div class="card-content black-text">
              <span class="card-title">Aluguel+</span>
              <p>R$ 1.561,66</p>
              <div class="chip teal white-text" style="margin-top: 10px;">Paga</div>
            </div>
            <div class="card-action">
              <a href="#modal1" class="black-text modal-trigger">Detalhes</a>
            </div>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="card grey lighten-5">
            <div class="card-content black-text">              
              <span class="card-title">Luz</span>
              <p>R$ 160,58</p>
              <div class="chip teal white-text" style="margin-top: 10px;">Paga</div>
            </div>
            <div class="card-action">
              <a href="#" class="black-text">Detalhes</a>
            </div>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="card grey lighten-5">
            <div class="card-content black-text">             
              <span class="card-title">Internet</span>
              <p>R$ 104,99</p>
              <div class="chip black-text" style="margin-top: 10px;">Paga</div>
            </div>
            <div class="card-action">
              <a href="#" class="black-text">Detalhes</a>
            </div>
          </div>
        </div>

      </section>

      <section id="total" class="col s12 m8 offset-m2 l6 offset-l3 centered" style="margin: 50px 50px 50px 50px;">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s12">
              <table class="centered">
                <thead>
                  <tr>
                      <th>#</th>
                      <th>Totais</th>
                  </tr>
                </thead>
        
                <tbody>
                  <tr>
                    <td>Ganhos</td>
                    <td><b>R$ 0,00</b></td>
                  </tr>
                  <tr>
                    <td>Gastos</td>
                    <td><b>R$ 0,00</b></td>
                  </tr>
                  <tr>
                    <td>Total</td>
                    <td><b>R$ 0,00</b></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>

      <section id="footer" style="float: right;"></section>

    </div>

    <div id="createModal" class="modal">
      <form>
        <div class="modal-content">
          <h2>
            <div class="row col s12">
              <div class="input-field">
                <h2>
                  <input id="labeltitle" type="text" class="validate">
                  <label for="">Título:</label>
                </h2>
              </div>
            </div> 
          </h2>
          <div class="divider"></div><br>
          <div class="input-field">
            <label for="first_name">Descrição:</label>
            <textarea id="textarea1" class="materialize-textarea"></textarea>
          </div>
          <div class="divider"></div><br>
          <a href="#!" id="createLabelPaid">
            <div class="chip black-text">
              Paga
            </div>
          </a>
          <br /><br />
          <div class="divider"></div><br>
          <div>
            <p class="labelParag">Categorias:</p>
            <p class="newLabelCategory"></p>
          </div>
          <div class="divider"></div><br>
          <div class="row">
            <div class="input-field col s6">
              <input id="labelvalue" type="text" class="validate">
              <label for="">Valor</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a class="modal-action modal-close waves-effect waves-green btn-flat">Sair</a>
          <a class="waves-effect waves-green btn-flat" id="btnSaveLabel">Salvar</a>
        </div>
      </form>
    </div>

    <!-- Loading... -->
    <div class="progress" id="spinnerInit" style="display: none;">
      <div class="indeterminate"></div>
    </div>

    <!--Imports Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
    <script type="text/javascript" src="/assets/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.0.0-alpha.1/axios.js" integrity="sha512-uplugzeh2/XrRr7RgSloGLHjFV0b4FqUtbT5t9Sa/XcilDr1M3+88u/c+mw6+HepH7M2C5EVmahySsyilVHI/A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-maskmoney/3.0.2/jquery.maskMoney.min.js" type="text/javascript"></script>
    
    <script type="text/javascript" src="/assets/js/init/loading.js"></script>
    <script type="text/javascript" src="/assets/js/init/menu.js"></script>
    <script type="text/javascript" src="/assets/js/init/footer.js"></script>
    <script type="text/javascript" src="/assets/js/createLabel.js"></script>
    <script type="text/javascript" src="/assets/js/home.js"></script>
  </body>
</html>
