<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/assets/css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div class="container" id="main">

      <!-- Menu -->
      <div class="row" id="menu"></div>

      <!-- Content -->
      <div class="row" id="list">
        <div class="col s12">
          <ul class="collapsible popout" data-collapsible="accordion">

            <li class="">
              <div class="collapsible-header green accent-3">
                <i class="material-icons">home</i>
                Aluguel+
              </div>
              <div class="collapsible-body">
                <span>R$ 1.561,66</span>
                <a href="#" style="float: right;"><i class="material-icons">create</i></a>
              </div>
            </li>

            <li>
              <div class="collapsible-header"><i class="material-icons">lightbulb_outline</i>Luz
                <div class="col offset-s9"></div>
              </div>
              <div class="collapsible-body">
                <span>R$ 160,58</span>
                <a href="#" style="float: right;"><i class="material-icons">create</i></a>
              </div>
            </li>

            <li>
              <div class="collapsible-header red"><i class="material-icons">network_check</i>Internet</div>
              <div class="collapsible-body">
                <span>R$ 104,99</span>
                <a href="#" style="float: right;"><i class="material-icons">create</i></a>
              </div>
            </li>

          </ul>
        </div>
      </div>

      <div class="row" id="grid" style="display: none">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="/assets/images/grid/aluguel.jpeg">
              <span class="card-title">Aluguel</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red btn modal-trigger" href="#modal1"><i class="material-icons">create</i></a>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="/assets/images/grid/luz.jpg">
              <span class="card-title">Luz</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red btn modal-trigger" href="#modal2"><i class="material-icons">create</i></a>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
          </div>
        </div> 

        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="/assets/images/grid/internet.jpg">
              <span class="card-title">Internet</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red btn modal-trigger" href="#modal3"><i class="material-icons">create</i></a>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
          </div>
        </div>    

        <!-- Modal Trigger -->
        <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> -->

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
          <div class="modal-content">
            <h4>Aluguel</h4>
            <p>R$ 1.561,66</p>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
          </div>
        </div>

        <div id="modal2" class="modal">
          <div class="modal-content">
            <h4>Luz</h4>
            <p>R$ 160,58</p>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
          </div>
        </div>

        <div id="modal3" class="modal">
          <div class="modal-content">
            <h4>Internet</h4>
            <p>R$ 104,99</p>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
          </div>
        </div>

      </div>

      <div class="col s12 m8 offset-m2 l6 offset-l3 centered" style="margin: 50px 50px 50px 50px;">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <i class="material-icons large">attach_money</i>
            </div>
            <div class="col s10">
              <table class="centered">
                <thead>
                  <tr>
                      <th>#</th>
                      <th>Totais</th>
                  </tr>
                </thead>
        
                <tbody>
                  <tr>
                    <td>Ganhos</td>
                    <td>R$ 6844,32</td>
                  </tr>
                  <tr>
                    <td>Gastos</td>
                    <td>R$ 2402,91</td>
                  </tr>
                  <tr>
                    <td>Total</td>
                    <td>R$ 5041,41</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div id="footer" style="float: right;"></div>

    </div>

    <!-- Loading... -->
    <div class="progress" style="display: none;">
      <div class="indeterminate"></div>
    </div>

    <!--Imports Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/materialize.min.js"></script>
    <script type="text/javascript" src="/assets/js/init/loading.js"></script>
    <script type="text/javascript" src="/assets/js/init/menu.js"></script>
    <script type="text/javascript" src="/assets/js/init/footer.js"></script>
    <script type="text/javascript" src="/assets/js/home.js"></script>
  </body>
</html>
