
<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/assets/css/materialize.min.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div class="container" id="main">

      <div class="row">
        <div class="col s2">
          <!-- Sidenav -->
          <ul id="slide-out" class="side-nav">
            <li><div class="user-view">
              <div class="background">
                <img src="assets/images/capa.png">
              </div>
              <a href="#!user"><img class="circle" src="assets/images/perfil.jpg"></a>
              <a href="#!name"><span class="white-text name">Gabriel Guedes</span></a>
              <a href="#!email"><span class="white-text email">gabs@gmail.com</span></a>
            </div></li>
            <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
            <li><a href="#!">Second Link</a></li>
            <li><div class="divider"></div></li>
            <li><a class="subheader">Subheader</a></li>
            <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
          </ul>

          <a href="#" data-activates="slide-out" class="btn-floating btn-large waves-effect waves-light red button-collapse">
            <i class="medium material-icons">menu</i>
          </a>
        </div>
        <div class="col s10">
          <ul class="tabs">
            <li class="tab col s3"><a href="#test1">Todas</a></li>
            <li class="tab col s3"><a class="active" href="#test2">APTO</a></li>
            <li class="tab col s3"><a href="#test3">Pessoais</a></li>
            <li class="tab col s3"><a href="#test4">Streaming</a></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <ul class="collapsible popout" data-collapsible="accordion">
            <li style="text-shadow: solid green;">
              <div class="collapsible-header">
                <i class="material-icons">home</i>
                Aluguel+
              </div>
              <div class="collapsible-body">
                <span>R$ 1.561,66</span>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">lightbulb_outline</i>Luz</div>
              <div class="collapsible-body">
                <span>R$ 160,58</span>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">network_check</i>Internet</div>
              <div class="collapsible-body">
                <span>R$ 104,99</span>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>

    <div class="progress" style="display: none;">
      <div class="indeterminate"></div>
    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/materialize.min.js"></script>
    <script type="text/javascript" src="/assets/js/home.js"></script>
  </body>
</html>